/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

a {
	color: white;
}

@font-face {
    font-family: 'norsebold';
    src: url('./Fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./Fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	min-height: 100vh;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

:root {
	--system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main, div, body {
    display: flex;
}

main {
    min-height: 100vh;
    width: 65vw;
    flex-shrink: 0;
    > div:first-child {
        background-image: url(./leaf-background.jpg);
        background-size: cover;
        flex: 1.25;
		flex-direction: column;
		gap: 60vh;
		justify-content: flex-end;
    }
    
	> div:last-child {
        background-color: rgba($color: white, $alpha: 1.0);
        flex: 2;
		flex-direction: column;
		justify-content: center;
		gap: 16px;
		a {
			color: #596D48;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: bolder;
			text-decoration: none;
		}

		> div:last-child > p {
			font-family: Arial, Helvetica, sans-serif;
			padding: 48px;
			padding-top: 12px;
			margin-right: auto;
		}

		> div:nth-child(2) {
			flex-direction: column;
			max-width: 50vw;
			> p {
				font-family: Arial, Helvetica, sans-serif;
				font-weight: bolder;
				padding: 48px;
				padding-bottom: 0;
				margin-right: auto;
			}
		}

		form > div:first-child {
			flex-direction: column;
			max-width: 50vw;
			padding: 48px;
			padding-top: 24px;
			padding-bottom: 24px;
			margin-right: auto;
			font-family: Arial, Helvetica, sans-serif;
			box-shadow: 0 8px 4px -4px lightgray, 0 -4px 4px -4px lightgray;
			> div {
				flex-wrap: wrap;
				max-width: 30rem;
				margin-right: auto;
				font-family: Arial, Helvetica, sans-serif;
				column-gap: 48px;
				row-gap: 12px;
			}

			> p {
				font-weight: bold;
				padding-bottom: 24px;
				font-size: 1.25rem;
			}

			> div > div {
				flex-direction: column;
				font-size: .5rem;
				font-weight: bold;
				label {
					letter-spacing: .08rem;
				}

				input {
					min-height: 1.75rem;
					min-width: 13rem;
					outline: none;
					border: 1px solid lightgray;
					border-radius: 4px;
				}

				input:focus {
					border: 1px solid blue;
					border-radius: 4px;
					box-shadow: 0 8px 4px -4px lightgray, 0 -4px 4px -4px lightgray;
				}

				input:invalid {
					border: 1px solid red;
					border-radius: 4px;
					box-shadow: 0 8px 4px -4px lightgray, 0 -4px 4px -4px lightgray;
				}

				input:valid + div {
					display: none;
					visibility: hidden;
				}

				input:invalid + div {
					display: flex;
					visibility: visible;
					color: red;
					font-size: .65rem;
					padding-top: 4px;
					font-weight: 300;
				}
			}
		}

		form > div:last-child {
			flex-direction: column;
			max-width: 44rem;
			margin-right: auto;
			padding: 48px;
			padding-top: 24px;
			padding-bottom: 0;
			font-family: Arial, Helvetica, sans-serif;
			button {
				background-color: #596D48;
				padding: 48px;
				padding-top: 14px;
				padding-bottom: 14px;
				border-radius: 8px;
				color: white;
				font-weight: bolder;
				display: inline-block;
				border: none;
				margin: 0;
				text-decoration: none;
				cursor: pointer;
				text-align: center;				
			}
		}
    }

	> div:first-child > div > p {
		font-family: 'norsebold';
		font-size: 5rem;
		color: white;
	}

	> div:first-child > div > img {
		height: 7rem;
		width: 5rem;
	}

	> div:first-child > div {
		background-color: rgba($color: black, $alpha: .5);
		justify-content: center;
		align-items: center;
		padding: 12px;
		flex-wrap: wrap;
	}

	> div > p {
		color: white;
		justify-content: center;
		display: flex;
		font-size: .75rem;
		margin-bottom: 8px;
		flex-wrap: wrap;
	}
}

html {
    background-color: black;
}

body {
    justify-content: center;
}

#blurb {
	font-size: 1.25rem;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bolder;
	padding: 48px;
	margin-right: auto;
	max-width: 44rem;
	line-height: 1.5rem;
}

em {
	font-style: italic;
}

.hidden {
	display: none;
	visibility: hidden;
}